# Node
node_modules/
.npmrc

# Env / secrets
.env

# Local artifacts
UCtel_Proposal.pdf
transformed.html

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

.vercel
