# Node
node_modules/
.npmrc

# Env / secrets
.env
prop/.env.local
prop/.env
prop/proposal-*-firebase-adminsdk-*.json

# Local artifacts
UCtel_Proposal.pdf
transformed.html
prop/.next/
prop/.vercel

# Additional build outputs
prop/out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

.vercel
